h1 {
    text-align: center;
    color: #583bbf;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }

h2 {
  text-align: center;
  color: #BF3B60;
  font-family: 'Merriweather', serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    font-family: 'Merriweather', serif;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: #BF3B60;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}

nav a:hover {
    color: #A2BF3B;
    text-decoration: none;
}

body {
  background-color: whitesmoke;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

main {
  margin-right: 20px;
  margin-left: 20px;
}

img {
  width:250px;
} 

a:hover {
  color: #A2BF3B;
}

.button {
  background-color: black;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
}

h3 {
  color: #583bbf;
  font-family: 'Merriweather', serif;
}

a {
  color: #BF3B60;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #BF3B60;
  border: none;
}